*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0%;
  padding: 0%;
}
.firstName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.lastName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
